<div class="view-news-article">
  <img [src]="newsArticle.urlToImage">
  <div class="view-news-article-content">
      <h4>{{newsArticle.title}}</h4>
      <p>{{newsArticle.content}}</p>
      <h4>{{newsArticle.publishedAt|date}}</h4>
      <h4>{{newsArticle.author}}</h4>
  </div>
  <div class="view-news-article-control">
    <button [hidden]="!newsArticle.id" routerLink="/news/{{newsArticle.counter}}/edit">Edit</button>
    <button [hidden]="!newsArticle.id" (click)="onClickDelete()">Delete</button>
  </div>
</div>