  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 auto;
  }
  
  .header h1.logo {
    font-size: 30px;
    display: inline;
    vertical-align: middle;
    margin-left: 10px;
  }

  .header img {
    vertical-align: middle;
  }
  
  .header h1.user-login {
    font-size: 30px;
    display: inline;
    vertical-align: middle;
  }

  .header button.login-button {
    font-size: 30px;
    display: inline;
    vertical-align: middle;
    margin-left: 10px;
  }

  .title-container {
    background: lightslategray
  }

  .title {
    text-align: center;
  }

  .content {
    flex: 1 0 auto;
    padding: 20px;
  }

  .footer {
    flex-shrink: 0;
    padding: 20px;
  }